DbAdapterPocApp/Integration/SOA/Schemas/sales.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.integration.org/sales"
            targetNamespace="http://www.integration.org/sales" elementFormDefault="qualified">
  <xsd:complexType name="OrderType">
    <xsd:sequence>
      <xsd:element name="orderId" type="xsd:int"/>
      <xsd:element name="clientName" type="xsd:string"/>
      <xsd:element name="amount" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="order" type="tns:OrderType"/>
</xsd:schema>
